extends layout

block content
  h3 APIs
  div
    ul.nav.nav-tabs(role='tablist')
      li.active(role='presentation')
        a(href='#proxy', aria-controls='proxy', role='tab', data-toggle='tab') Proxy 중개
      li(role='presentation')
        a(href='#realtime', aria-controls='realtime', role='tab', data-toggle='tab') Real-time 실시간
      li(role='presentation')
        a(href='#cached', aria-controls='cached', role='tab', data-toggle='tab') Cached 캐시
    .tab-content
      #proxy.tab-pane.active(role='tabpanel')
        h3 Proxy APIs web3.eth 중개 API 목록
        | ex) #[strong http://explorer.ethersocial.info/api_proxy/eth_blockNumber]
        table.table
          thead
            tr
              th Origin
              th Parameter
              th Example
          tbody
            tr
              td web3.eth.getBalance(
                br
                | addressHexString 
                br
                | [, defaultBlock]
              td #[strong addressHexString]: Hex, 
                br
                | #[strong defaultBlock](Optional): Number
              td /eth_balance/0x5811590907050746b897efe65fea7b65710e1a2c/1522934
            tr
              td web3.eth.getBlockNumber
              td none
              td /eth_blockNumber
            tr
              td web3.eth.getBlock(
                br
                | blockHashOrBlockNumber 
                br
                | [, returnTransactionObjects]
              td #[strong blockHashOrBlockNumber]: Hex or Number, 
                br
                | #[strong returnTransactionObjects]: true or false
              td /eth_getBlockByNumber/1522660/false
            tr
              td web3.eth.getUncle(
                br
                | blockHashStringOrNumber, 
                br
                | uncleNumber 
                br
                | [, returnTransactionObjects]
              td #[strong blockHashOrBlockNumber]: Hex or Number, 
                br
                | #[strong uncleNumber]: Number, 
                br
                | #[strong returnTransactionObjects]: true or false
              td /eth_getUncleByBlockNumberAndIndex/1522579/0/false
            tr
              td web3.eth.getBlockTransactionCount(
                br
                | blockHashOrBlockNumber
              td #[strong blockHashOrBlockNumber]: Hex or Number
              td /eth_getBlockTransactionCountByNumber/1522660
            tr
              td web3.eth.getTransaction(
                br
                | transactionHash
              td #[strong transactionHash]: Hex
              td /eth_getTransactionByHash/0x6fd1bb5a71d16ad342ac9f8d86c299ce768eec0bafede55d7b7a9e82d816942a
            tr
              td web3.eth.getTransactionFromBlock(
                br
                | blockHashOrBlockNumber, 
                br
                | indexNumber
              td #[strong blockHashOrBlockNumber]: Hex or Number, 
                br
                | #[strong indexNumber]: Number
              td /eth_getTransactionByBlockNumberAndIndex/1522660/0
            tr
              td web3.eth.getTransactionCount(
                br
                | addressHexString 
                br
                | [, defaultBlock]
              td #[strong addressHexString]: Hex, 
                br
                | #[strong defaultBlock](Optional): Number
              td /eth_getTransactionCount/0xe3ec5ebd3e822c972d802a0ee4e0ec080b8237ba/1522934
            tr
              td web3.eth.sendRawTransaction(
                br
                | signedTransactionData
              td #[strong signedTransactionData]: 
                br
                | signed_tx.serialize().toString('hex')
                br
                | 280 bytes(hexadecimal)
              td /eth_sendRawTransaction/"Parameter:signedTransactionData"
            tr
              td web3.eth.getTransactionReceipt(
                br
                | transactionHash
              td #[strong transactionHash]: Hex
              td /eth_getTransactionReceipt/0xb3663023a01cc2862845d72bae657b5ef2f559c9982b3fcdfdbe840950fb6914
            tr
              td web3.eth.call(
                br
                | callObject [, defaultBlock]
              td callObject: 
                br
                | { #[strong addressHexString]: Hex, 
                br
                | #[strong data]: Hex }
              td /eth_call/0x5811590907050746b897efe65fea7b65710e1a2c/0xc6888fa1000000000000000000000000000...
            tr
              td web3.eth.getCode(
                br
                | addressHexString [, defaultBlock]
              td #[strong addressHexString]: Hex, 
                br
                | #[strong defaultBlock](Optional): Number
              td /eth_getCode/0x0146b9dcd9fb2abc1b5b136c28d20d0037526961
            tr
              td web3.eth.getStorageAt(
                br
                | addressHexString, 
                br
                | position 
                br
                | [, defaultBlock]
              td #[strong addressHexString]: Hex, 
                br
                | #[strong position]: Number
                br
                | #[strong defaultBlock](Optional): Number
              td /eth_getStorageAt/0x5811590907050746b897efe65fea7b65710e1a2c/0/1522934
            tr
              td web3.eth.getGasPrice
              td #[strong none]
              td /eth_gasPrice
            tr
              td web3.eth.estimateGas(
                br
                | callObject
              td callObject: 
                br
                | {#[strong addressHexString]: Hex, 
                br
                | #[strong value]: Number, 
                br
                | #[strong gasPrice]: Hex, 
                br
                | #[strong gas]: Hex}
              td /eth_estimateGas/0x5811590907050746b897efe65fea7b65710e1a2c/100/0x051da038cc/0xffffff
      #realtime.tab-pane(role='tabpanel')
        h3 Real-time response APIs 실시간 응답 API 목록
        | ex) #[strong http://explorer.ethersocial.info/api_account/eth_balancemulti/0x5811590907050746b897efe65fea7b65710e1a2c,0xe3ec5ebd3e822c972d802a0ee4e0ec080b8237ba/1522934]
        table.table
          thead
            tr
              th Description
              th Parameter
              th Example
          tbody
            tr
              td Get Ether Balance 
                br
                | for multiple Addresses 
                br
                | in a single call
              td Comma-separated #[strong addresses]: Hex, Hex...
                br
                | #[strong defaultBlock](Optional): Number
              td /eth_balancemulti/0x5811590907050746b897efe65fea7b65710e1a2c,0xe3ec5ebd3e822c972d802a0ee4e0ec080b8237ba/1522934
      #cached.tab-pane(role='tabpanel')
        h3 Cached response APIs 캐시된 응답 API 목록