extends layout

block content
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.bootstrap4.css')
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.js')
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap4.js')
  h3 All Blocks
  div(style='width:95%')
    table#blocklisttable.table.table-striped.table-bordered(style='width:100%')
      thead
        tr
          th Number
          th Date
          th Hash
          th Miner
          th # Tx
          th # Uncles
  script.
    $(document).ready(function() {
      $('#blocklisttable').DataTable({
        "dom": 'lifrtp',
        "processing": true,
        "serverSide": true,
        "ajax": {
          "url": "/blocks/query",
          "type": "POST"
        },
        "searching": false,
        "order": [[ 0, "desc" ]],
        "columnDefs": [{
          "targets": 0,
          "orderable": false,
          "render": function ( data, type, row, meta ) {
            return '<a href="/block/'+data+'">'+data.replace(/\B(?=(\d{3})+(?!\d))/g, ",")+'</a>';
          }
        },{
          "targets": 1,
          "orderable": false
        },{
          "targets": 2,
          "orderable": false,
          "render": function ( data, type, row, meta ) {
            return '<a href="/block/'+data+'">'+data+'</a>';
          }
        },{
          "targets": 3,
          "orderable": false
        },{
          "targets": 4,
          "orderable": false
        },{
          "targets": 5,
          "orderable": false
        }]
      });
    });
