doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    
    meta(name='description', content='The explorer for the EtherSocialNetwork blockchain')
    meta(name='author', content='bitfly, Combba(ESN)')
    meta(name='keywords', content='ESN, EtherSocialNetwork, ethereum, explorer, blockchain, etherchain, cryptocurrency, cryptocurrencies, bitcoin')
        
    title ESN Block Explorer
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/bootstrap-3.3.7-dist/css/bootstrap.min.css', crossorigin="anonymous")
    // -- Global site tag (gtag.js) - Google Analytics
    script.
      (function() {
        function async_load(){
          var s = document.createElement('script');
          s.type = 'text/javascript';
          s.async = true;
          s.src = 'https://www.googletagmanager.com/gtag/js?id=UA-120936757-2';
          var x = document.getElementsByTagName('script')[0];
          x.parentNode.insertBefore(s, x);

          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-120936757-2');
        }
        window.attachEvent ? window.attachEvent('onload', async_load) : window.addEventListener('load', async_load, false);
      })();
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          |  
          a.navbar-brand(href='/') EtherSocialNetwork<br/><b><font color="black">Block</font></b> Explorer
          form.navbar-form.navbar-right(action="/search", method="POST")
              .form-group
                .input-group
                  span.input-group-btn
                    input.form-control.mr-sm-2#search(type='text', placeholder='Block | Tx | Account', name='search')
                    button.btn.btn-secondary.my-2.my-sm-0(type='submit') Search
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav.hover-effect
            li
              a(href='/') MainPage<br/>메인페이지
            li
              a(href='/hashratechart') Total Chart<br/>종합 차트
            li
              a(href='/peers') Nodes Info<br/>노드 정보
            li
              a(href='http://pool.sejun.info') ESN Mining<br/>채굴하기
            li
              a(href='/top100') ESN Rank<br/>전체지갑주소
            li
              a(href='/blocks') Blocks<br/>최근생성블록
            li
              a(href='/tx_recent') Transactions<br/>최근거래내역
            li
              a(href='/tx/pending') Pending Tx<br/>대기거래목록
    script(type='text/javascript', src='/jquery-3.3.1.min.js')
    script(type='text/javascript', src='/bootstrap-3.3.7-dist/js/bootstrap.min.js', crossorigin='anonymous')

    script.
      $('#monitor').html($(window).width());
      $(window).resize(function() {
        var viewportWidth = $(window).width();
        $('#monitor').html(viewportWidth);
      });

      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    div.container
      div.table-responsive
        block content
    div.container
      hr
      footer
        span
          a(href='/api') APIs service 
          |&nbsp;&nbsp;&nbsp;&nbsp;
        span
          a(href='/redisblock') 1,000 Blocks Average info
        p This site is optimized for Chrome on your PC. 이 사이트는 PC의 Chrome에 최적화되어 있습니다.
          br/ This site is operated for transparent development of "EtherSocialNetwork". 이 사이트는 "EtherSocialNetwork"의 투명한 개발을 위해 운영됩니다.
          br/ This site is currently being implemented.(status: beta test) 이 사이트는 현재 구현 중입니다.(상태: 베타 테스트).
        p
          a(href="https://github.com/gobitfly/etherchain-light") Etherchain Light
          |  | #{nodeStatus.version} | #{nodeStatus.nbrPeers} Peers connected