extends layout

block content
  script(type='text/javascript', src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/6.2.0/highcharts.js")
  script(type='text/javascript', src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/6.2.0/modules/exporting.js")
  script(type='text/javascript', src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/6.2.0/modules/export-data.js")
  h3 Server Response Time Chart
  div#chartResponseTime(style="min-width: 480px; max-width: 1000px; height: 1600px; margin: 0 auto")
  br/
  script.
    $.each(!{activity}.chartdata, function (i, chartdata) {
      var sIP = i.split(".");
      sIP[1] = "***";
      sIP[2] = "***";
      var sPort = sIP[3].split(":");
      sPort[1] = "**";
      sIP[3] = sPort.join(":");
      var displayIP = sIP.join(".");

      chartdata.editedseries = [];
      chartdata.series.forEach(function (element) {
        var timestamp = parseInt(element[0], 10);
        var responsetime = parseInt(element[1], 10);
        var tmp = [timestamp, responsetime]
        chartdata.editedseries.push(tmp);
      });
      $('<div style="min-width: 480px; max-width: 1000px; height: 400px; margin: 0 auto">')
        .appendTo('#chartResponseTime')
        .highcharts({
          chart: {
            zoomType: 'x'
          },
          title: {
            text: 'Target: "' + displayIP + '" Response History Chart'
          },
          subtitle: {
            text: document.ontouchstart === undefined ? 'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
          },
          xAxis: {
            type: 'datetime'
          },
          yAxis: {
            title: {
              text: 'Response Time (ms)'
            }
          },
          legend: {
            enabled: false
          },
          series: [{
            type: 'line',
            name: 'Response(ms)',
            data: chartdata.editedseries
          }]
        });
      });