extends layout

block content
  h3 Recent Transactions
  if txs.length === 0
    p No transactions during the last 100 blocks<br/>마지막 100블록에 트랜젝션(거래정보)가 없습니다.
  else
    table.table
      thead
        tr
          th Hash
          th From
          th To
          th Amount
      tbody
        for tx in txs
          tr
            td
              a(href="/tx/" + tx.hash) #{tx.hash.substr(0,10)}...
            td
              a(href="/account/" + tx.from) #{nameformatter.format(tx.from)}
            td
              if tx.to
                a(href="/account/" + tx.to) #{nameformatter.format(tx.to)}
              else
                | New Contract
            td(style="text-align: right;") #{ethformatter(tx.value)}
