html,
body {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 1rem;
}

th,
td,
td>a {
  font-size: 0.8rem;
}

.navbar-nav>li {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.nav>li {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.dataTables_wrapper .dataTables_info {
  display: inline-block;
  clear: none;
  margin-right: 0.6rem;
  padding-top: 0;
}

.dataTables_wrapper .dataTables_length {
  display: inline-block;
  clear: none;
  margin-left: 0.6rem;
  margin-right: 6.2rem;
  padding-top: 0;
}

.capitalize {
  text-transform: capitalize;
}

td>textarea {
  font-family: "Lucida Console", "Monaco", "monospace";
  line-height: 1.0;
  font-size: 1.2rem;
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

pre {
  font-size: 1.2rem;
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

.parameter-cell {
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

div.top100 {
  font-family: "Lucida Console", "Monaco", "monospace";
  border: 0px solid #000000;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.divTable.top100 .divTableCell,
.divTable.top100 .divTableHead {
  border-left: 0px;
  border-right: 0px;
  border-top: 1px solid #000000;
  padding: 0.3rem 0.3rem;
}

.divTable.top100 .divTableBody .divTableCell {
  font-size: 0.8rem;
}

.divTable.top100 .divTableRow:nth-child(even) {
  background: #F6F2FF;
}

.divTable.top100 .divTableHeading {
  background: rgba(49, 155, 190, 0.747);
  border-bottom: 0.2rem solid #000000;
}

.divTable.top100 .divTableHeading .divTableHead {
  font-size: 0.9rem;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 0px solid #D0E4F5;
}

.divTable.top100 .divTableHeading .divTableHead:first-child {
  border-left: none;
}

.top100 .tableFootStyle {
  font-size: 0.9rem;
}

/* DivTable.com */

.divTable {
  display: table;
}

.divTableRow {
  display: table-row;
}

.divTableHeading {
  display: table-header-group;
}

.divTableCell,
.divTableHead {
  display: table-cell;
}

.divTableHeading {
  display: table-header-group;
}

.divTableFoot {
  display: table-footer-group;
}

.divTableBody {
  display: table-row-group;
}