body {
  padding: 10px 10px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar {
  min-height: 60px;
}

.btn-default {
  padding-bottom: 4px;
  padding-top: 4px;
  margin-left: 10px;
}
.navbar-form {
  margin-right: 20px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-collapse {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 40px;
}

.container {
  margin-top: 0px;
  padding-left: 1px;
  padding-right: 1px;
}

.container>.navbar-header {
  min-height: 60px;
  margin-right: 5px;
  margin-left: 5px;
}

.table-responsive {
  margin-top: 60px;
}

.nav>li>a {
  padding:10px 8px;
}

@media (min-width:768px) {
  .container {
    width:750px
  }
}
@media (min-width:992px) {
  .container {
    width:970px
  }
}

@media (min-width: 1200px) {
  .container {
    width:1170px
  }
}

a {
  color: #006e99;
}

.capitalize {
  text-transform:capitalize;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.parameter-cell {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
