body {
  padding: 10px 10px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar {
  min-height: 60px;
}

.btn-default {
  padding-bottom: 4px;
  padding-top: 4px;
  margin-left: 10px;
}

.btn-small {
  font: 11px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-bottom: 4px;
  padding-top: 4px;
  margin-left: 5px;
}

.navbar-form {
  margin-right: 20px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-collapse {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 40px;
}

.container {
  margin-top: 0px;
  padding-left: 1px;
  padding-right: 1px;
}

.container>.navbar-header {
  min-height: 60px;
  margin-right: 5px;
  margin-left: 5px;
}

.table-responsive {
  margin-top: 60px;
}

.nav>li>a {
  padding: 10px 8px;
}

@media (max-width: 1200px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    transition: height 0.2s;
    display: none !important;
  }
  .navbar-collapse.collapsing {
    height: 0 !important;
  }
  .navbar-collapse.collapse.in{
    max-height: none;
    height: 100vh;
}
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
}

@media (min-width:768px) {
  .container {
    width: 750px
  }
}

@media (min-width:992px) {
  .container {
    width: 970px
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px
  }
}

a {
  color: #006e99;
}

.capitalize {
  text-transform: capitalize;
}

pre {
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

.parameter-cell {
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

div.top100 {
  font-family: "Lucida Console", Monaco, monospace;
  border: 0px solid #000000;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.divTable.top100 .divTableCell,
.divTable.top100 .divTableHead {
  border-left: 0px;
  border-right: 0px;
  border-top: 1px solid #000000;
  padding: 5px 5px;
}

.divTable.top100 .divTableBody .divTableCell {
  font-size: 13px;
}

.divTable.top100 .divTableRow:nth-child(even) {
  background: #F6F2FF;
}

.divTable.top100 .divTableHeading {
  background: rgba(49, 155, 190, 0.747);
  border-bottom: 3px solid #000000;
}

.divTable.top100 .divTableHeading .divTableHead {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 0px solid #D0E4F5;
}

.divTable.top100 .divTableHeading .divTableHead:first-child {
  border-left: none;
}

.top100 .tableFootStyle {
  font-size: 14px;
}

/* DivTable.com */

.divTable {
  display: table;
}

.divTableRow {
  display: table-row;
}

.divTableHeading {
  display: table-header-group;
}

.divTableCell,
.divTableHead {
  display: table-cell;
}

.divTableHeading {
  display: table-header-group;
}

.divTableFoot {
  display: table-footer-group;
}

.divTableBody {
  display: table-row-group;
}